$border-style: solid black;
@import 'mixins';

footer {
    grid-column: 1/5;
    border: $border-style;
    display: grid;
    grid-auto-columns: 3fr;
    align-items: center;
    justify-items: center;
    @include style-footer;
    #que_hacemos {
      grid-column: 1/2;
      padding-left: 50px;
      padding-top: 35px;
    }
    #enlaces {
      grid-column: 2/3;
      padding-left: 50px;
      padding-top: 35px;
    }
    #contáctanos {
      grid-column: 3/4;
      padding-left: 50px;
      padding-top: 35px;
    }
  }