@mixin style-img-usuariocabecera {
    
    opacity: 0.6;
}
@mixin style-background-main {
    background-image: url(../Imagenes/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
@mixin style-footer {
    background-color: cornflowerblue;
    color: black;
}